# ----------------------------------------------------
# Master Configuration File
# ----------------------------------------------------
.include "../../exe/shared/servercommon.cfg"
.include "default.cfg"
# ----------------------------------------------------
# Basic Settings
# ----------------------------------------------------
# These settings are required for basic operation.
# Values here may be overridden by localOptions.cfg included at the end.

[LoginServer]
# Database settings for the Login Server
# Set the database password and authentication method.
databasePWD=swg
useExternalAuth=false
# Uncomment and set the externalAuthURL for external authentication.
# externalAuthURL=http://127.0.0.1/auth.php

[dbProcess]
# Database connection settings
databaseProtocol=OCI
# Set the database password
databasePWD=swg

[GameServer]
# Specify the Java Virtual Machine (JVM) to use.
javaVMName=sun

[TaskManager]
# Environment variables for the Task Manager
# Specify localization and other dependencies.
environmentVariable=NLS_LANG=american_america.utf8
# Uncomment the lines below if using Oracle-specific configurations.
# environmentVariable=ORACLE_HOME=/opt/app/oracle/product/9.2.0
# environmentVariable=PATH+=/opt/app/oracle/product/9.2.0/bin
# environmentVariable=LD_LIBRARY_PATH+=/opt/app/oracle/product/9.2.0/lib

# ----------------------------------------------------
# Java Virtual Machine (JVM) Settings
# ----------------------------------------------------
# Uncomment the appropriate section for your platform and Java version.

# For VM 3.0.2 32-Bit Java (Upon Release)
environmentVariable=PATH+=/usr/lib/jvm/zulu-17-x86/bin/:./
environmentVariable=LD_LIBRARY_PATH+=/usr/lib/jvm/zulu-17-x86/lib/:/usr/lib/jvm/zulu-17-x86/lib/server/:./

# For VM 3.0.2 64-Bit Java (Upon Release)
# environmentVariable=PATH+=/usr/lib/jvm/zulu-11/bin/:./
# environmentVariable=LD_LIBRARY_PATH+=/usr/lib/jvm/zulu-11/lib/:/usr/lib/jvm/zulu-11/lib/server/:./

# ----------------------------------------------------
# Additional Configuration Files
# ----------------------------------------------------
.include "serverNetwork.cfg"
.include "localOptions.cfg"
.include "nodes.cfg"
.include "rare_loot.cfg"
.include "space_gcw.cfg"
